<div class="card">
  <div class="card-body">
    {{#with current_track}}
      <h5 class="card-title">{{ name }}</h5>
      {{#each artists}}
        <h6 class="card-subtitle mb-2 text-muted">{{ name }}</h6>
      {{/each}}
    {{/with}}
  </div>
</div>
