<div class="list-group">
  {{#each rooms}}
    <button type="button" class="room-btn list-group-item list-group-item-action" data-context-uri="{{uri}}" data-start-time="{{start_time}}">
      {{name}} - {{owner_name}}
    </button>
  {{/each}}
</div>
