<ul class="list-group">
  <% for (var i = 0; i < playlist.length; i++) { %>
    <% if  == song %><b><% end %>
    <li class="list-group-item"><%= song.title %> - <%= song.artist %> - <%= song.album %></li>
    <% if @curr_song == song %></b><% end %>
  <% end %>
</ul>
