.title {
	background-color:#eee;
	border: 1px solid #eee;
}

.hidden-border {
	border: 1px solid #eee;
}

.glyphicon {
	vertical-align: middle;
}

#volumeSlider .slider-selection {
	background: #BABABA;
}
