{{#> layouts/default}}
  {{#*inline "content"}}
    <div class="container">
      <div class="row">
        <div class="col-4">My name is Elliott!</div>
        <div class="col-4">Hello world!</div>
        <div class="col-4">This is a basic grid.</div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "more-scripts"}}
    <script>Global.Startup.Presenters.App();</script>
  {{/inline}}
{{/layouts/default}}
