{{#> layouts/default}}
  {{#*inline "content"}}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 song-info"></div>
        <div class="col-md-4 col-sm-12 user-info"></div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "more-scripts"}}
    <script type="text/javascript">Global.Startup.Presenters.Spotify();</script>
  {{/inline}}
{{/layouts/default}}
