<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{ display_name }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ email }}</h6>
    <a href="{{ external_urls.spotify }}" class="card-link">Profile</a>
  </div>
</div>
