<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-12">
        <div class="playback-status">Loading...</div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="song-progress progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <input id="volume" data-slider-id='volumeSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="80"/>
      </div>
    </div>
  </div>
</footer>
