<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="navbar-brand my-2 my-sm-0" href="#">SPOOTY</a>
        <a class="btn btn-outline-success my-2 my-sm-0 float-right" href="/login-to-spotify">Login to Spotify</a>
        <div class="login-status error float-right"></div>
      </div>
    </div>
  </div>
</nav>
